/* Formateador de inicio */
* {
    margin: 0;
    padding: 0;
    gap: 10px;
    color: #f4f4f8;
    background-color: #4e4e4e;
    list-style-type: none;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
/* Formato de la NavBar - Menu de inicio */
.contenedor > nav > ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
  }
  .interactable {
      cursor: pointer;
      transition: all ease-out 200ms;
    }
  .interactable:hover {
      padding: 5px;
      border-bottom: 2px solid #3245f0;
    }

/* Formato de la pagina inicio */
.grilla > .content > .inicio {
    height: 90vh;
    background-image: url(/img/paisaje_fondo.jpg);
    opacity: 0.5;
    justify-content: center;
    align-items:center;
    background-color: rgb(142, 156, 114);
  }

/* Formato de la pagina Certificados */
.certificados{
    height: 100vh;
    background-color: rgb(194, 166, 130);
    justify-content: center;
    align-items: center;
    animation-name: colorchange;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    
    text-align: center;
  }
  .certificados > ul > li > img{
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    
  }
  .certificados > ul > li {

    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-content: center;
  }
  @keyframes colorchange {
    0% {background-color:#16254d ;}
    25% {background-color:#1f2b4b ;}
    50% {background-color: #373b44;}
    75% {background-color: #1f2b4b;}
    100% {background-color: #16254d;}
}

/* Formato de la pagina Redes */

.redes ul {
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #232b3b;
    align-content: center;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    
  }
  
/* Formato de la pagina Contacto (Footer) */
  


/* Grilla responsive */
  .grilla {
    display: grid;
    
    grid-template: repeat(1, minmax(10px, 1fr)) / repeat(12, minmax(10px, 1fr));
    grid-template-areas:
      "h h h h h h h h h h h h"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "f f f f f f f f f f f f";
  }
  
  .grilla > div {
      text-align: center;
  }
  
  .header {
    grid-area: h;
    height: 10vh;
  }
  .content {
    grid-area: c;
    
  }

  .footer {
    grid-area: f;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (max-width: 900px) {
    .grilla {
      grid-template: repeat(auto-fit, minmax(10px, 1fr)) / 1fr;
      grid-template-areas:
        "h"
        "c"
        "f";
    }
    .grilla > .content > .inicio {
      background-size: auto;
    }
  }