/* Formateador de inicio */
* {
    margin: 0;
    padding: 0;
    color: #f4f4f8;
    text-align: center;
    list-style-type: none;
    box-sizing: border-box;
    overflow-x: hidden;
    text-decoration: none;
    font-family: sans-serif, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  }
::-webkit-scrollbar {
  display: none;
  }
/* Formato de la NavBar - Menu de inicio */
.contenedor > nav > ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    background-color: #353434;
    
  }
  .interactable {
      cursor: pointer;
      transition: all ease-out 400ms;
    }
  .interactable:hover {
      padding: 4px;
      border-bottom: 2px solid #3245f0;
    }

/* Formato de la pagina inicio */
.grilla > .content > .inicio {
    height: 95vh;
    align-items: center;
    background-image: url("/img/fondo_inicio.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
    display: flex;
    flex-direction: column;
  }
.grilla .content .inicio .texto ul{
  background-color: #B5C1C5;
}
.grilla > .content > .inicio > ul {
    margin-top: 150px;
  }

  .grilla .content .inicio ul li img{
    border-radius: 50%;
    height: 200px;
    border: #45bd85;
    border-style:double;
    border-width: 10px;   
  }
.inicio > ul > li > div  {
  line-height: 1.5;
  font-weight: bold;
  font-size:large;
  background-color: #a09686;
  width: 400px;
  border-radius: 50px;
  margin-top: 20px;
}
.texto p{
  color: #203A43;
  
}
/* Formato de la pagina Certificados */
.certificados{
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: #bdc3c7;  
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 

  }
  .certificados > ul > li > img{
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
  .certificados > ul {
    background: none;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    
    justify-content:space-between;
    margin: 40px;
    padding: 10px;
  }
  .certificados h3 {
    font-size: x-large;
    font-family: Verdana;
  }

/* Formato de la pagina Contacto */
.contacto {
  display: flex;
  flex-direction: row;
  height: 80vh;
  background: #0F2027;  
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.contacto > .mapa {
  margin-left: 50px;
  margin-top: 50px;
  
}
.contacto > .formulario {
  margin-left: 50px;
  margin-top: 50px;
  
}

.redes ul {
  display: flex;
  justify-content:space-around;
}
.redes img {
    height: 45px;
    margin-bottom: 10px;
}
.form_contacto{
  border: 1px solid #CED5D7;
  border-radius: 6px;
  padding: 45px 45px 20px;
  background-color: rgb(57, 58, 77);
  box-shadow: 5px 5px 10px #303131, 0 0 0 5px #EEF5F7 inset;
}
.contacto label{
  display: block; 
  font-weight: bold;
}
.contacto div{
  margin-bottom: 15px; 
  align-content: center;
}
/* @keyframes colorchange {
  0% {background-color:#16254d ;}
  25% {background-color:#1f2b4b ;}
  50% {background-color: #373b44;}
  75% {background-color: #1f2b4b;}
  100% {background-color: #16254d;}
} */
/* Grilla responsive */
  .grilla {
    display: grid;
    grid-template: repeat(1, minmax(10px, 1fr)) / repeat(12, minmax(10px, 1fr));
    grid-template-areas:
      "h h h h h h h h h h h h"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "f f f f f f f f f f f f";
  }
  
  .grilla > div {
      text-align: center;
  }
  
  .header {
    grid-area: h;
    height: 7vh;
  }
  .content {
    grid-area: c;
    
  }

  .footer {
    grid-area: f;
    height: 10vh;
    background-color: #353434;
  }
  .footer > h4{
    margin: 20px;
  }


  @media only screen and (max-width: 900px) {
    .grilla {
      grid-template: repeat(auto-fit, minmax(10px, 1fr)) / 1fr;
      grid-template-areas:
        "h"
        "c"
        "f";
    }
    .certificados > ul {
      display: flex;
      flex-wrap:wrap;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      text-align: center;
      
    }
    .contacto {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }
    .contacto > .mapa {
      margin-left: 20px;
      margin-top: 20px;
      height: 70%;
    }
  }